<div class="sidemenu">
  <div class="sidemenu__title">
    <h1>TaxAuto</h1>
  </div>

  <div class="sidemenu__content">
    <nav class="sidemenu__nav">
      <ul>
        <li routerLink="/livros-fiscais" routerLinkActive="active" class="sidemenu__nav-item">
          <a>
            <mat-icon>book</mat-icon>
            <span>Livros fiscais</span>
          </a>
        </li>
        <!-- <li routerLink="/apuracao" routerLinkActive="active" class="sidemenu__nav-item">
          <a>Apuração</a>
        </li> -->
        <!-- <li routerLink="/difal" routerLinkActive="active" class="sidemenu__nav-item">
          <a>DIFAL</a>
        </li> -->
        <li routerLink="/filiais" routerLinkActive="active" class="sidemenu__nav-item">
          <a>
            <mat-icon>business</mat-icon>
            <span>Filiais</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
