@use '../../../../styles/mixins' as *;

.topbar {
  display: flex;
  justify-content: flex-end;
  height: 28px;
  background-color: var(--card-bg); // Utilizando sua variável de card/bg

  // Região de arraste para janelas Electron/Desktop
  &__drag-region {
    flex: 1;
    height: 100%;
    -webkit-app-region: drag;
  }

  &__window__buttons {
    display: flex;
    gap: 0;

    &__button {
      // Aplica o mixin de base para botões de sistema
      @include window-button-base(28px, 60px);

      // Cores baseadas no seu tema light
      color: var(--text-color);

      &:hover {
        background-color: var(--icon-hover);
        color: var(--text-color);
      }

      // Estilização do ícone interna ao botão
      mat-icon {
        @include icon-size(18px);
      }

      // Modificador para botões de fechamento (Opcional, mas boa prática)
      &--close:hover {
        background-color: var(--red-color);
        color: var(--button-text);
      }
    }
  }
}
