<div class="topbar">
  <div class="topbar__drag-region"></div>
  <div class="topbar__window__buttons">
    <button class="topbar__window__buttons__button" (click)="minimizeWindow()">
      <mat-icon>remove</mat-icon>
    </button>
    <button class="topbar__window__buttons__button" (click)="maximizeWindow()">
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>
    <button class="topbar__window__buttons__button" (click)="closeWindow()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
